div {
    background: green;
    width: 450px;
    height: 350px;
    margin: 150px;
    position: relative;
}

div::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 30px;    
    border-left: 20px solid transparent; 
    border-right: 20px solid transparent;
    border-bottom: 20px solid green;    
}